@use '../abstracts/variabel' as _;


.flex{display: flex;}
.flexC{
    @extend .flex;
    flex-direction: column;
}
.flexR{
    @extend .flex;
    flex-direction: row;
}

// justifyContent
.jcE{ @include _.jc(end)}
.jcSB{  @include _.jc(space-between)}
.jcSE{ @include _.jc(space-evenly)}
.jcSA{ @include _.jc(space-around) }
.jcC{ @include _.jc() }


.aiE{ @include _.ai(end)}
.aiC{ @include _.ai()}

.acC{ @include _.ac()}

.scroll{ @include _.scroll()}
.scroll-200{ @include _.scroll(200px)}
.scroll-400{ @include _.scroll(400px)}
.scroll-600{ @include _.scroll(600px)}
.scroll-800{ @include _.scroll(800px)}

.boxSLeft{
    @include _.shadow(-2px -5px 5px 0px,map-get(_.$c,'dark'));
}
.boxS{
    @include _.shadow(0px 1px 10px 1px,map-get(_.$c,'dark'));
}


.positionR-b40{
    position: relative;
    @include _.arah(("b":40px));
}
