body{@extend .pm0;}
.p0{padding: 0px;}
.pLink{ padding: 8px 16px;}
.pwrap-5{padding:5px}
.pwrap-10{padding:10px}

.pwrap-2p{padding:2%}
.pwrap_2p{padding:0px 2%}
.pwrap__2p{padding:2% 0px}

.pwrap-3p{padding:3%}
.pwrap_3p{padding:0% 3%} //kiri kanan _
.pwrap__3p{padding:3% 0%} //atas bawah __

.pwrap-5p{padding:5%}
.pwrap_5p{padding:0% 5%}
.pwrap__5p{padding:5% 0%}


.pm0{
    padding: 0px !important;
    margin: 0px !important;
}
.mauto{margin: auto;}
.m0{margin: 0px !important}
.mwrap-5{margin: 5px;}
.mwrap-10{margin: 10px;}

.mwrap_3p{margin:0% 3%} //kiri kanan _
.mwrap__3p{margin:3% 0%} //atas bawah __

.radius-10{border-radius: 10px;}
.radius_10{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.radius__10{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.boval{border-radius: 50%}
