<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <link rel="icon" href="./logoB.jpg">
  <title>Bappeda</title>
   <!--  -->
</head>
<body>
  <header class="headerBappeda">
    <div class="alfaDark h100p">
      <div class="flexR bottom">
        <img src="./dev-mini.png">
        <div class="flexC brand justifySA">
          <label class="judul">Bappeda</label>
          <label class="subjudul">badan perencanaan dan pembangunan daerah</label>
          <label class="judul">kabupaten Sumbawa barat</label>
        </div>
        <a id="menu">☰</a>
      </div>
    </div>
  </header>
  <div class="bdark">
    <div class="w80p m0auto">
      <ul class="pm0 navBappeda">
        <li>profil</li>
        <li>berita</li>
        <li>ppid</li>
  
        <li>publikasi</li>
        <li>laporan</li>
        <li>dokumen</li>
  
        <li>unit Kerja</li>
        <li>kontak</li>
      </ul>
    </div>
  </div>
  <div class="flexR">
    <main id="maincontent"></main>
    <div id="sideBar">
      <h1 class="tcenter tdecorDotted tupper">Poster</h1>
      <div id="mainSideBar"></div>
    </div>
  </div>
  <footer id="footerBappeda">
    <label for="">Copyright 2023. Bappeda Kabupaten Sumbawa Barat.</label>
    <!-- <div class="w80p m0auto flexR justifySB">
      <label for="">Copyright 2023. Bappeda Kabupaten Sumbawa Barat.</label>
      <label for="">Created & Design by IT Division Bappeda KSB</label>
    </div> -->
  </footer>
</body>
</html>